.buy-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.box-fix {
    width: 500px;
    height: 500px;
    display: block;
    background-image: url(../img/property-1.jpg);
    background-position: center center;
    background-size: cover;
    display: grid;
    grid-template-rows: 90% 10%;
}

.box-bottom {
    background-color: #14141499;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 0 20px;
}

.about-desc {
    font-size: 20px;
    color: #434343;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.amenities {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style-type: square;
}

.list-item {
    margin: 10px;
    color: #5a5a5a;
    font-size: 18px;
}

.list-amnities{
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.price-tag{
    color: #00d300;
    font: 30px "josefin sans";
    background-color: white;
}

.form-grp {
    width: 500px;
    box-sizing: border-box;
    margin: 0px 0px 20px 0px;
    padding: 25px 10px 20px 20px;
    margin-top: 35px;
    margin-right: 105px;
    box-shadow: 0 0 8px 1px #05ce05;
}

.input-cover {
    border: 3px solid transparent;
    margin: 10px 0px;
    margin-bottom: 15px;
    padding: 0 0 0 25px;
    box-shadow: none;
}

.input-field {
    margin: 10px 0px;
    color: grey;
    padding: 0 5px 5px 5px;
    width: 90%;
    font: 20px 'poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #949494;
    background-color: transparent;
}

.legend-title {
    font: 20px "poppins", sans-serif;
    font-weight: 600;
    color: #434343;
}

.buy-bt {
    margin: auto;
    padding: 12px 20px 10px 20px;
    font-size: 21px;
    color: black;
}

.buy-details{
    display: grid;
    grid-template-columns: 40% 35%;
    font-size: 20px;
    margin: auto;
    position: relative;
    left: 20px;
}

.list-key{
    color: black;
    font-family: "josefin sans";
    list-style: none;
    margin: 15px;
}

.list-val{
    list-style: none;
    font-family: "Poppins", sans-serif;
    text-align: right;
    margin: 13px;
}