.bg {
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #3ec9c9, #1ecda1, #1bf7bd);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    z-index: 1;
}

.boxC {
    margin-top: 60px;
    position: absolute;
    left: 23%;
    top: 5%;
    height: 75vh;
    width: 40vw;
    background-color: white;
    padding: 30px;
    z-index: 2;
    box-shadow: 0 0 50px 0px black;
}

.boxC1 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.boxC2 {
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: 30vw;
}

#submit {
    background-color: white;
    border: 2px solid black;
    width: 7vw;
    font-size: large;
    font-weight: bold;
    padding: 7px;
}

#submit:hover {
    cursor: pointer;
    background-color: #86f486;
}

.contact-img {
    height: 30px;
    width: 30px;
    padding: 12px;
}

.boxR {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    left: 80%;
    top: 35%;
    width: 23vw;
    color: white;
    box-shadow: 0 0 50px 0px white;
    padding: 10px;
    padding-bottom: 0px;
}

.boxR1 {
    display: flex;
    margin-left: 10px;
}

.boxR2 {
    margin-left: 20px;
    margin-right: 10px;
    color: #86f48699;
}

.boxIcons {
    position: absolute;
    top: 7%;
    left: 40%;
}
