footer{
    background-color: #696969;
    height: 300px;
}

.top-level{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: 50px;
}

.segment{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.foot-text{
    color: white;
    font-family: 'Josefin sans';
    text-align: center;
}

.head{
    color: #13d85e;
    font-size: 1.7em;
}

.value{
    font-size: 2em;
}

.socials{
    display: grid;
    list-style-type: none;
    width: 250px;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.social-img{
    width: 24px;
    filter: invert(80%);
}

.social-img:hover{
    filter: invert(100%);
}

.footer-break{
    margin-top: 25px;
    border-color: #ffffff43;
    border-style: solid;
    width: 80%;
}

.copyright-text{
    color: white;
    font: 1em 'poppins', serif;
    text-align: center;
    margin-top: 25px;
}