footer{
    margin-top: 100px;
    background-color: #69696969;
    height: 300px;
}

.top-level{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: 50px;
}

.segment{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.foot-text{
    color: #515151;
    font-family: 'Josefin sans';
    text-align: center;
}

.head{
    color: #0ad95a;
    font-size: 1.7em;
}

.value{
    font-size: 2em;
}

.socials{
    display: grid;
    list-style-type: none;
    width: 250px;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.social-icon{
    display: flex;
    margin: auto;
    height: 27px;
}

.social-img{
    width: 24px;
    filter: invert(25%);
    margin: auto;
}

.social-img:hover{
    filter: invert(100%);
    width: 26px;
}

.footer-break{
    margin-top: 25px;
    border-color: #61616143;
    border-style: solid;
    width: 80%;
}

.copyright-text{
    color: #0e0e0e;
    font: 1.2em 'poppins', sans-serif;
    text-align: center;
    margin-top: 25px;
}