.bgimage{
    background: black;
    background-image: linear-gradient(to top, #000000c0, #00000088,#00000031,#00000000), url(../img/slide-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    height: 80vh;
    margin: auto;
}

.intro>.container{
    display: grid;
    margin: auto;
    gap: 60px;
    width: 70vw;
}

.intro-text{
    justify-content: left;
    color: #faf7f3;
    font-family: "poppins",sans-serif;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1;
}

.lower-intro-text{
    color: #2eca6a;
}

.search-form{
    display: grid;
    grid-auto-flow: column;
}

.form-font{
    border: none;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #535151;
    border-right: 1px outset #8080803d;
    cursor: pointer;
}


.form-child {
    border: none;
    padding: 20px;
    background-color: #f7f7f7;
}

.form-child:focus{
    outline: none;
}

.search-form{
    box-shadow: 4px 4px 5px 0px #41ff41;
}

#location{
    padding-left: 20px;  
    border-right: 1px outset #8080803d;
    box-sizing: border-box;
}

.form-btn{
    padding: 0px;
    padding-left: 1em;
    background-color: #f7f7f7;
    display: inherit;
}

.sub-button{
    background-color: #2eca6a;
    padding: 1em;
    color: #ffffff;
    float: right;
    border-radius: 0rem 0 0 8rem;
    border: 1px solid transparent;
}

.sub-button:hover{
    box-shadow:  0 0 8px 3px #00b400b4;
    border: 1px solid whitesmoke;
}