.background{
    background-image: linear-gradient(to top, #ffffffba, #ffffffba), url(../img/sell-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px;
}

.cont-1{
    margin: auto;
}

.sell-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.sell-img{
    width: 450px;
    height: 450px;
}

.sell-bt{
    text-align: center;
    margin: 0px;
    padding-top: 15px;
    background: #3d3d3d;
    width: 450px;
    height: 50px;
    display: block;
    border-width: 3px;
    box-sizing: border-box;
}

.sell-form{
    display: grid;
    grid-auto-flow: row;
    font: 1.1em  sans-serif;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 8px 0px #a4a4a4;
}

.sell-form-child{
    font: 1em  sans-serif;
    font-weight: bold;
    margin: 9px;  
    display: grid;
    grid-template-columns: 30% 70%;  
}

.sell-form-label{
    margin: auto 0px;
}

.sell-form-input{
    padding: 4px;
    border-radius: 3px;
    outline: none;
    font: 0.9em 'poppins', sans-serif;
    color: #727272;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px solid #acacac;
}

.sell-form-input:hover{
    border-color: #00c853c6;
    background-color: #f6fff5;
}

.sell-form-input:focus{
    border-color: #00c853c6;
    background-color: #f6fff5;
}

.sell-form-radio{
    display: none;
}

.label-unselect{
    margin: 5px;
    border: 1px solid #4f4f4f;
    border-radius: 3px;
    padding: 8px;
    font: 1em 'josefin sans';
    font-weight: lighter;
    background: #f8f8f8;
    cursor: pointer;
}

.label-unselect:hover{
    background: #d4fedd;
    border-color: #00f40c;
}

.label-select{
    margin: 5px;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 8px;
    font: 1em 'josefin sans';
    font-weight: lighter;
    background: #03a729;
    box-shadow:  0 0 5px 0px #0bff17;
    cursor: pointer;
}

.amen-data{
    width: 200px;
    font-size: 15px;
    margin: 0px;
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.amen-inp{
    display: inline-flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

.amen-tag{
    font: 18px 'poppins', sans-serif;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    background-color: #5b5b5b;
}

.amen-bt{
    color: white;
    background-color: #a5a5a5;
    border: 2px solid #8e8e8e;
    border-radius: 0 4px 4px 0;
    margin: 0px;
    border-left: none;
    cursor: pointer;
}

.amen-bt:hover{
    background-color: #727272;
}

.amen-vals{
    padding: 3px;
    font-family: 'poppins', monospace,sans-serif;
    color: white;
    background-color: #3d3d3d;
}

#prop-desc{
    margin-bottom: 50px;
    font: 1.2em 'poppins', sans-serif;
    color: #3d3d3d;
}