body{
    display: grid;
    height: 100vh;
    margin: 0;
}

.page-sep{
    display: grid;
    background-image: linear-gradient(to top, #11998e, #38ef7d); 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0 auto 0;
    height: 100vh;
}

.container{
    display: grid;
}

form{
    display: grid;
    margin: auto;
    padding: 50px 50px 30px;
    background-color: #4a4a4a;
    border-radius: 7px;
}

.row-4{
    grid-template-rows: 1.5fr repeat(4, 1fr);
}

.row-5{
    grid-template-rows: 1.5fr repeat(5, 1fr);
}

.form-child{
    margin: auto;
}

.logo{
    width: 160px;
    margin: auto;
    padding: 20px;
}

.icon{
    width: 1.5em;
    position: absolute;
    padding: 10px 0 0 0;
}

.credential{
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    height: 45px;
    width: 300px;
    background: 0 0;
    padding: 0 0 0 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
}

.sub{
    width: 140px;
    padding-left: 5px;
    margin-right: 20px;
}

input::placeholder{
    color: white;
}

input:focus{
    outline: none;
    border-width: 2px;
}

.submit{
    background: #fefefe;
    border: none;
    padding: 0.8rem 2em 0.8rem 2em;
    border-radius: 2em;
    font: 16px 'poppins', sans-serif;
    color: #3e3e3e;
    cursor: pointer;
}

.submit:hover{
    background-image: linear-gradient(to bottom, #11998e, #38ef7d);
    color: white;
    border: 1px solid white;
}

.foot{
    margin: auto;
    font: 12px 'poppins', sans-serif;
    cursor: pointer;
}

.foot:hover{
    color: white;
}
body{
    display: grid;
    height: 100vh;
    margin: 0;
}

.page-sep{
    display: grid;
    background-image: linear-gradient(to top, #11998e, #38ef7d); 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0 auto 0;
    height: 100vh;
}

.container{
    display: grid;
}

form{
    display: grid;
    margin: auto;
    padding: 50px 50px 30px;
    background-color: #4a4a4a;
    border-radius: 7px;
}

.row-4{
    grid-template-rows: 1.5fr repeat(4, 1fr);
}

    
