body{
    display: grid;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

.page-sep{
    display: grid;
    /* background-position: center center; */
    margin: auto 0 auto 0;
    height: auto;
}

.container{
    display: grid;
    height: 100vh;
}

form{
    display: grid;
    margin: auto;
    padding: 50px 50px 30px;
    background-color: #f5f5f580; 
    box-shadow: 0px 15px 100px 1px #111;   
    border-radius: 17px;
    height: 80vh;

}


.row-4{
    grid-template-rows: 1.5fr repeat(4, 1fr);
}

.row-5{
    grid-template-rows: 1.5fr repeat(5, 1fr);
}

.form-child{
    margin: auto;
}

.logo{
    width: 160px;
    height: 150px;
    margin: auto;
    border: 5px solid white;
    border-radius: 120px;
    background-color: #aea3a366;
}

.icon{
    width: 1.5em;
    position: absolute;
    padding: 10px 0 0 0;
}

.credential{
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    height:45px;
    width: 300px;
    background: 0 0;
    padding: 0 0 0 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
}

.sub{
    width: 140px;
    padding-left: 5px;
    margin-right: 20px;
}

input::placeholder{
    color: #00000066;
}

input:focus{
    outline: none;
    border-width: 2px;
}

.submit{
    background: #fefefe;
    border: none;
    padding: 0.8rem 2em 0.8rem 2em;
    border-radius: 2em;
    font: 16px 'poppins', sans-serif;
    color: #3e3e3e;
    cursor: pointer;
}

.submit:hover{
    background-image: linear-gradient(to bottom, #11998e, #38ef7d);
    color: white;
    border: 1px solid white;
}

.foot{
    margin: auto;
    font: 12px 'poppins', sans-serif;
    cursor: pointer;
}

.foot:hover{
    color: white;
}

    
